@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(var(--r));
  }
  50% {
    transform: translateY(-20px) rotate(var(--r));
  }
}

.rotate-15 {
  transform: rotate(15deg);
}

.-rotate-15 {
  transform: rotate(-15deg);
}

/* Ensure animations work with Tailwind */
.animate-float {
  animation: float 6s ease-in-out infinite;
}
